@import "./utils/variables";
@import "./utils/reset";
@import "./utils/backdrop";
@import "./utils/overlay";

@import "./component/container";
@import "./component/section";
@import "./component/header";
@import "./component/logo";
@import "./component/nav";
@import "./component/contact";
@import "./component/mainsection";
@import "./component/submitbutton";
@import "./component/modal";
@import "./component/form";
@import "./component/paragraphblock";
@import "./component/imageblock";
@import "./component/socialicons";
@import "./component/figureblock";
@import "./component/logoblock";
@import "./component/footer";
@import "./component/newsletter";
@import "./component/buttonsblock";
@import "./component/portfoliosection";
@import "./component/productblock";


