.menu__contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.menu__phone {
  color: var(--brand-color);
  font-size: 34px;
  text-decoration: none;
  font-weight: 500;
}

.menu__mail {
  color: var(--second-color);
  font-size: 24px;
  text-decoration: none;
  font-weight: 500;
}
