.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--background-brand-color);
}

.footer__list {
  display: flex;
  justify-content: space-between;
}

.footer__address {
  color: var(--third-brand-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}

.footer__item {
  margin-top: 9px;
}

.footer__element {
  margin-left: 70px;
}

.footer__title {
  color: var(--third-brand-color);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  margin-top: 12px;
}
