.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--background-brand-color);
  text-align: center;
}

.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 60px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.footer__address {
  color: var(--third-brand-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
  margin-bottom: 8px;
}

.footer__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color var(--transition);
  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}

.footer__item {
  margin-top: 8px;
}

.footer__title {
  color: var(--third-brand-color);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer__list {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 738px;
    row-gap: 60px;
    column-gap: 144px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__list {
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 1170px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    gap: 70px;
  }
  .footer__address {
    margin-bottom: 9px;
    white-space: nowrap;
  }
  .footer__title {
    margin-top: 12px;
  }
}

