.form__title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  display: block;
  margin-top: 40px;
  margin-bottom: 30px;
}

.form__fieldset {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--second-color);
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  margin-bottom: 28px;
  margin-left: 40px;
  margin-right: 40px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:has(.form__input:focus) {
    border: 1px solid var(--brand-color);
  }
}

.form__fieldset--appearance {
  height: 120px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:has(.form__textarea:focus) {
    border: 1px solid var(--brand-color);
  }
}

.form__label {
  position: absolute;
  top: -18px;
  left: 0px;
}

.form__icon {
  margin: 11px 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .form__fieldset:has(.form__input:focus) & {
    fill: var(--brand-color);
  }
}

.form__input {
  border: transparent;
  outline: none;
  padding: 0;
  width: 300px;
}

.form__textarea {
  margin: 12px 16px;
  height: calc(100% - 24px);
  width: calc(100% - 32px);
  outline: none;
  border: none;
  resize: none;
  overflow: hidden;
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
  }
}

.form__checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form__checkbox {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  cursor: pointer;
}

.form__checkbox-icon {
  position: absolute;
  left: 54px;
  top: 0;
  cursor: pointer;
  opacity: 0;
  .form__checkbox:checked + & {
    opacity: 1;
  }
}

.form__rules {
  font-size: 14px;
  color: var(--second-color);
  letter-spacing: 0.03em;
  & a {
    color: var(--brand-color);
  }
}
