.portfolio-section {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 30px;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .portfolio-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-section {
    margin-top: 40px;
  }
}
