.portfolio-section {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 30px;
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .portfolio-section {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    min-width: 738px;
  }
}


@media screen and (min-width: 1200px) {
  .portfolio-section {
    margin-top: 40px;
    min-width: 1170px;
  }
}
