.product {
  position: relative;
  overflow: hidden;
  height: 404px;
  margin: 0;
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
  transition: box-shadow var(--transition);

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
}

.product__description {
  position: absolute;
  padding: 20px 24px;
  width: 100%;
  height: 110px;
  background-color: var(--third-brand-color);
  top: 294px;
  z-index: 2;
}

.product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product__text {
  color: var(--second-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.product__container {
  max-width: 450px;
  height: 294px;
  background-size: cover;
  background-position: center center;
}

.product__container--one {
  background-image: url('../images/product/mobile/product1.jpg');
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .product__container--one {
    background-image: url('../images/product/mobile/product1@2x.jpg');
  }
}

.product__container--two {
  background-image: url('../images/product/mobile/product2.jpg');
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .product__container--two {
    background-image: url('../images/product/mobile/product2@2x.jpg');
  }
}

.product__container--three {
  background-image: url('../images/product/mobile/product3.jpg');
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .product__container--three {
    background-image: url('../images/product/mobile/product3@2x.jpg');
  }
}

.product__container--four {
  background-image: url('../images/product/mobile/product4.jpg');
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .product__container--four {
    background-image: url('../images/product/mobile/product4@2x.jpg');
  }
}

.product__container--five {
  background-image: url('../images/product/mobile/product5.jpg');
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .product__container--five {
    background-image: url('../images/product/mobile/product5@2x.jpg');
  }
}

.product__container--six {
  background-image: url('../images/product/mobile/product6.jpg');
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .product__container--six {
    background-image: url('../images/product/mobile/product6@2x.jpg');
  }
}

.product__container--seven {
  background-image: url('../images/product/mobile/product7.jpg');
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .product__container--seven {
    background-image: url('../images/product/mobile/product7@2x.jpg');
  }
}

.product__container--eight {
  background-image: url('../images/product/mobile/product8.jpg');
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .product__container--eight {
    background-image: url('../images/product/mobile/product8@2x.jpg');
  }
}

.product__container--nine {
  background-image: url('../images/product/mobile/product9.jpg');
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .product__container--nine {
    background-image: url('../images/product/mobile/product9@2x.jpg');
  }
}

// TABLET

@media screen and (min-width: 768px) {
  .product__container {
    width: 352px;
    height: 294px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .product--one {
    height: 440px;
  }
  .product__description--one {
    height: 146px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .product--two {
    height: 440px;
  }

  .product__description--two {
    height: 146px;
  }
}

@media screen and (min-width: 768px) {
  .product__container--one {
    background-image: url('../images/product/tablet/product1.jpg');
  }
  .product__container--two {
    background-image: url('../images/product/tablet/product2.jpg');
  }
  .product__container--three {
    background-image: url('../images/product/tablet/product3.jpg');
  }
  .product__container--four {
    background-image: url('../images/product/tablet/product4.jpg');
  }
  .product__container--five {
    background-image: url('../images/product/tablet/product5.jpg');
  }
  .product__container--six {
    background-image: url('../images/product/tablet/product6.jpg');
  }
  .product__container--seven {
    background-image: url('../images/product/tablet/product7.jpg');
  }
  .product__container--eight {
    background-image: url('../images/product/tablet/product8.jpg');
  }
  .product__container--nine {
    background-image: url('../images/product/tablet/product9.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .product__container--one {
    background-image: url('../images/product/tablet/product1@2x.jpg');
  }
  .product__container--two {
    background-image: url('../images/product/tablet/product2@2x.jpg');
  }
  .product__container--three {
    background-image: url('../images/product/tablet/product3@2x.jpg');
  }
  .product__container--four {
    background-image: url('../images/product/tablet/product4@2x.jpg');
  }
  .product__container--five {
    background-image: url('../images/product/tablet/product5@2x.jpg');
  }
  .product__container--six {
    background-image: url('../images/product/tablet/product6@2x.jpg');
  }
  .product__container--seven {
    background-image: url('../images/product/tablet/product7@2x.jpg');
  }
  .product__container--eight {
    background-image: url('../images/product/tablet/product8@2x.jpg');
  }
  .product__container--nine {
    background-image: url('../images/product/tablet/product9@2x.jpg');
  }
}

// DESKTOP
@media screen and (min-width: 1200px) {
  .product__container {
    width: 368px;
    height: 294px;
  }
}

@media screen and (min-width: 1200px) {
  .product__container--one {
    background-image: url('../images/product/desktop/product1.jpg');
  }

  .product__container--two {
    background-image: url('../images/product/desktop/product2.jpg');
  }

  .product__container--three {
    background-image: url('../images/product/desktop/product3.jpg');
  }

  .product__container--four {
    background-image: url('../images/product/desktop/product4.jpg');
  }

  .product__container--five {
    background-image: url('../images/product/desktop/product5.jpg');
  }

  .product__container--six {
    background-image: url('../images/product/desktop/product6.jpg');
  }

  .product__container--seven {
    background-image: url('../images/product/desktop/product7.jpg');
  }

  .product__container--eight {
    background-image: url('../images/product/desktop/product8.jpg');
  }

  .product__container--nine {
    background-image: url('../images/product/desktop/product9.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
(min-resolution: 192dpi) and (min-width: 1200px),
(min-resolution: 2dppx) and (min-width: 1200px) {
  .product__container--one {
    background-image: url('../images/product/desktop/product1@2x.jpg');
  }

  .product__container--two {
    background-image: url('../images/product/desktop/product2@2x.jpg');
  }

  .product__container--three {
    background-image: url('../images/product/desktop/product3@2x.jpg');
  }

  .product__container--four {
    background-image: url('../images/product/desktop/product4@2x.jpg');
  }

  .product__container--five {
    background-image: url('../images/product/desktop/product5@2x.jpg');
  }

  .product__container--six {
    background-image: url('../images/product/desktop/product6@2x.jpg');
  }

  .product__container--seven {
    background-image: url('../images/product/desktop/product7@2x.jpg');
  }

  .product__container--eight {
    background-image: url('../images/product/desktop/product8@2x.jpg');
  }

  .product__container--nine {
    background-image: url('../images/product/desktop/product9@2x.jpg');
  }
}