.section {
  padding: 60px 0;
}

.section--background {
  background: var(--background-color);
}

.section--hidden {
  display: none;
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
}

.section__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .section__list {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 738px;
  }
  .section--padding {
    padding-bottom: 45px;
  }
  .section__list--column {
    max-width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
  .section--padding {
    padding-bottom: 0;
  }
  .section--hidden {
    display: block;
  }
  .section__list {
    flex-direction: row;
    max-width: 1170px;
  }
  .section__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
  .section__list--column {
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1170px;
  }
}

.section__list--column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section__buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
}
