.social-icon {
  display: flex;
  gap: 10px;
  padding-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
  justify-content: space-between;
}

.social-icon--padding {
  padding: 0;
}

.social-icon__item {
  width: 44px;
  height: 44px;
}

.social-icon__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--brand-color);
    fill: var(--third-brand-color);
  }
}

.social-icon__link--color {
  fill: var(--third-brand-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--brand-color);
  }
}
