.submit {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-family: 'Roboto', sans-serif;
  color: var(--third-brand-color);
  background: var(--brand-color);
  width: 200px;
  height: 50px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 40px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
