:root {
    --brand-color: rgba(33, 150, 243, 1);
    --second-brand-color: rgba(0, 0, 0, 1);
    --third-brand-color: rgba(255, 255, 255, 1);
    --main-color: rgba(33, 33, 33, 1);
    --second-color: rgba(117, 117, 117, 1);
    --background-brand-color: rgba(47, 48, 58, 1);
    --background-color: rgba(245, 244, 250, 1);
    --icon-color: rgba(175, 177, 184, 1);
}